<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Kseniia</h1>
  <img src="https://media.giphy.com/media/12PA1eI8FBqEBa/giphy.gif">
  <img src="https://media.giphy.com/media/lbXoHqVmsveXS/giphy.gif">
  <img src="https://media.giphy.com/media/SVYrs1hU0SiAf1nw1n/giphy.gif">

</body>
</html>